<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hengxuan.ehealthplatform"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme"
        android:name=".application.EHTApplication"
        >
        <activity
            android:name="com.hengxuan.ehealthplatform.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
        >

        </activity>
        <activity android:name=".massager.MassagerActivity"
            android:label="@string/massager">
			
		</activity>
        <activity android:name=".bluetooth.BluetoothDeviceInterface"/>
        <activity android:name="com.hengxuan.ehealthplatform.lens.activity.LensMainActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:label="@string/lens_choice">
            
        </activity>
        <activity android:name=".activity.MainActivity1">
            
        </activity>
        
        <activity android:name="com.hengxuan.ehealthplatform.lens.activity.NevusMainActivity"
            android:parentActivityName="com.hengxuan.ehealthplatform.lens.activity.LensMainActivity"/>
        <activity android:name="com.hengxuan.ehealthplatform.lens.activity.HairMainActivity"/>
        <activity android:name="com.hengxuan.ehealthplatform.lens.activity.IrisMainActivity"/>
        <activity android:name="com.hengxuan.ehealthplatform.lens.activity.SkinMainActivity"/>
        <activity android:name="com.hengxuan.ehealthplatform.activity.MassageActivity">
            <intent-filter>
			    <action android:name="ehealthplatform.intent.action.MASSAGE"/>
			    <category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
        </activity>
        <activity android:name="com.hengxuan.ehealthplatform.user.UserLoginActivity">
        </activity>
        <activity android:name="com.hengxuan.ehealthplatform.user.UserRegisterActivity">
        </activity>
        <activity android:name="com.hengxuan.ehealthplatform.activity.PhysicalExamActivity">
            <intent-filter>
			    <action android:name="ehealthplatform.intent.action.PHYSICAL"/>
			    <category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>            
        </activity>
        <activity android:name="com.hengxuan.ehealthplatform.lens.iris.IrisInspectionActivity">
        </activity>
        <activity android:name=".lens.iris.IrisAnalysisActivity"></activity>
        <activity android:name=".lens.LensConnectActivity"
            android:launchMode="singleInstance">
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
